{% extends "base.html" %}

{% block global_nav %}{% endblock %}
{% block messages_block %}{% endblock %}
{% block title %}Sign Out{% endblock %}

{% block content %}
<section class="auth">

  <h1 class="auth__title">Sign Out</h1>

  <div class="auth__alt" style="margin-top: 1rem;">
    Are you sure you want to sign out?
  </div>

  <form method="post" action="{% url 'account_logout' %}" class="auth__form">
    {% csrf_token %}
    <button type="submit" class="btn btn--primary">Sign Out</button>
  </form>

  <div class="auth__alt">
    <a href="{% url 'todo:list_index' %}">Cancel</a>
  </div>

  <footer class="auth__footer">© 2026 Capstone To-do List</footer>
</section>
{% endblock %}