{% extends "base.html" %}

{% block global_nav %}{% endblock %}
{% block messages_block %}{% endblock %}

{% block content %}
<div class="dashboard">

  <div class="dashboard__nav">
    <a href="{% url 'todo:list_index' %}">Back</a>
    <h1>Create list</h1>
    <span></span>
  </div>

  <div class="dashboard__lists dashboard__lists--form">
    <form method="post" class="dashboard__form">
      {% csrf_token %}

      <div class="field">
        {{ form.name.label_tag }}
        {{ form.name }}
      </div>

      <button type="submit" class="btn btn--primary">Create</button>
    </form>
  </div>

</div>
{% endblock %}