{% extends "base.html" %}

{% block global_nav %}{% endblock %}
{% block messages_block %}{% endblock %}

{% block content %}

<div class="auth">

  <h1 class="auth__title">
    {% if form.instance.pk %}
      Edit Task
    {% else %}
      New Task
    {% endif %}
  </h1>

  <div class="auth__alt" style="margin-top: 1rem;">
    List: <strong>{{ todo_list.name }}</strong>
  </div>

  <form method="post" class="auth__form">
    {% csrf_token %}

    <div class="field">
      {{ form.as_p }}
    </div>

    <button type="submit" class="btn btn--primary">
      {% if form.instance.pk %}
        Save Changes
      {% else %}
        Create Task
      {% endif %}
    </button>
  </form>

  <div class="auth__alt">
    <a href="{% url 'todo:list_detail' todo_list.pk %}">Back to list</a>

    {% if form.instance.pk %}
      <br><br>
      <a href="{% url 'todo:task_delete' list_pk=todo_list.pk task_pk=form.instance.pk %}">
        Delete task
      </a>
    {% endif %}
  </div>

</div>

{% endblock %}